.post-list-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    
}

.show-form-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-form-button {
    padding: 15px;
    width: 98%;
    background-color: lightsteelblue;
    font-size: x-large;
}