/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 169, 244);
    
}
header {
    font-family: 'Homemade Apple', cursive;
}